html {
  overflow: hidden;
  font: 22px monospace;
  padding: 5%;
  background: #000000;
  color: #4AF626;
}

body {
  max-width: 690px;
  margin: 0 auto;
  line-height: 1.5em;
}

a {
  background: #000000;
  color: #4AF626;
  text-decoration: underline;
  font-weight: 700;
  border-radius: 5px;
  padding: 3px;
}

a:hover {
  background: #4AF626;
  color: #000000;
}

.navigation {
	width: 45%;
	position: absolute;
	top: 5px;
	right: 0;
}

.navigation ul {

  list-style-type: none;

  padding: 0;

  margin: 0;

}

.navigation li {

  float: left;

}

.navigation a {

  display: block;

  padding: 10px;

  text-decoration: none;

}


h2 {
  color: #ffffff;
}

h3 {
  font-weight: 500;
}

hr {
  margin: 1.5em 0 1.5em 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 0 0 40px 0;
}

img {
  border-radius: 15px;
  max-width: 200px;
}

/* Loader */
html {
  overflow: hidden;
}

html.loaded {
  overflow: auto;
}

html:after {
  content: "";
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
}

html.loaded:after {
  display: none;
}

body {
  transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
}

html.loaded body {
  opacity: 1;
}
